body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family:  Roboto, sans-serif;
    background-color: #E7E0D8;
}
/*--HEADER--*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 70px;
   
}
/*---Burger menu---*/
.burgerMenu{
    display: none;
}

/*---NavMenu---*/
#navmenu{ 
    width: 100vw;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 24px;
    overflow: visible;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #427074;
}

.logo{
    padding: 0;
    margin: 0;
    flex-shrink: 0;
}

.logoImg{
    height: 50px;
}

a:hover img{
    transition-duration: 2s;
    transform: scale(1.3);
}

.navList{
    padding: 0 30px 0 20px;
    display: flex; 
    font-size: 18px;
    list-style-type: none;
    margin: 0;
}

.navList.open{
    display: flex;
    z-index: 1000;
}

.navItem {
    justify-content: space-between;
    margin-right: 20px;
}

#navmenu  a{
    color: black;  
    padding: 0;
    text-decoration: none;
    text-shadow: 0 2px 2px #515253;
    transition: transform 0.5s ease-in-out;
}

#navmenu  a:hover, a:active {
    text-shadow: 1px 2px 0 #c7c5c5, 1px 3px 3px #d4d2d2;
}

/*---MAIN with sections---*/
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px auto 0 auto;
    background-size: cover;
    background-position: center;
}

.title{
    width: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 3rem auto 1rem auto;
    color: #B92D2B ;
    text-decoration-color: #B92D2B  ;
    text-decoration: underline;
    font-size: 36px;
}

.section{
    display:flex;
    flex-direction: column;
    width: 90vw;
    max-width: 1140px;
    min-width: 250px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 5px;
}

ul{
    list-style-type: none;
}

li {
    color:#05222A; 
}

h2 {
    font-size: 24px;
    color:#772125	;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #4A151B ;
    margin: 1em;
}

.links:hover {
  color: #B92D2B ;
}

/*---About---*/
.about{
align-content: center;
align-items: center;
max-width: 800px;
min-width: 300px;
margin: 0 auto;
transition: max-width .5s ease-in-out, min-width .5s ease-in-out;
}

.aboutTitle{}

.aboutMe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  
    color: #05222A;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat (auto-fit, minmax(100px, 1fr));
    grid-gap: 30px;
    grid-template-areas:"text itgirl" ;
    max-width: 800px;
    min-width: 200px;
    transition: max-width .5s ease-in-out, min-width .5s ease-in-out;
}

.itgirl{
    grid-area: itgirl;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itgirl img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: max-width .5s ease-in-out, height .5s ease-in-out;
}

/*---Experience---*/
#Experience{
    display: flex;
    justify-content: center;
    align-items: center;
}

.experienceTitle{
    margin-top: 20px;
}

.experienceGrid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    max-width: 800px;
    margin: 0 auto;
    gap: 1rem;
    padding: 0;
    transition: max-width .5s ease-in-out;
}

.experienceGrid > li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding:10px;
    background-color: #a5b4b6;
    transition: padding .5s ease-in-out;
}

/*---Skills---*/
#skills{}

/*---Projects---*/
#Projects{}

/*---Connect---*/
#Connect{}

.connect{
 display: flex;
 flex-direction:row;
 justify-content: space-around;
 list-style-type: none;
}

.fa-linkedin, .fa-github{
    width: 20px;
}

/*---Form for messages---*/
.messagesSection{}
.messagesForm{}
.formLabels{}
.usersName{}
.usersEmail{}
.usersMessage{}

/*---Written messages section---*/
.messages{}

/*---FOOTER---*/
footer{
    margin: 0;
    padding: 0;
}
.rights  {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    height: 20px;
    margin: 0 auto;
    padding: 0 auto;
}

/*---Responsive---*/
@media screen and (min-width: 1200px){
    #navmenu{ 
        background-color: #336d75;
        transition: .1s;
    }
    p{
        font-size: 1.2rem;
        transition: .4s;
    }

    li{
        transition: .4s;
        font-size: 1.2rem;
        color:#772125;
    }

    #navmenu ul{
        justify-content: space-between;
        align-items: center;
        font-size: 1.5rem;
        transition: .4s;
    }
    .experienceGrid{
        grid-template-columns: repeat(4,1fr);
    }
    .experienceGrid > li{
        padding: 30px;
    }
    .rights{
        font-size: 12px;
        transition: .4;
    }
}

@media screen and (max-width: 690px){
    #navmenu ul{
        transition: .4s;
        font-size: 14px;
    }
    .experienceGrid{
        grid-template-columns: repeat(2,1fr);
    }
    .experienceGrid>li{
        padding: 15px;
    }
}

@media screen and (max-width: 600px){
    body{
        background-color: #d4d2d2;
    }
    p{
        font-style: italic;
        text-align: center;
    }
    #navmenu{
        justify-content: space-around;
    }
    .burgerMenu{
        display: flex;
        cursor: pointer;
        align-items:center;
        justify-items:center;
        margin-right: 30px;
    }
    .burgerIcon{
        width: 50px;
        transition: transform .3s ease-in-out;
    }
    .burgerIcon:hover {
        transition-duration: 2s;
        transform: scale(1.3);
    }
    .burgerIcon.rotate{
        transform: rotate(90deg);
    }
    .navList{
        display: none;
        visibility: hidden;
        
    }
    .navList.open {
        display: flex;
        z-index: 1000;
        visibility: visible;
        opacity: 1;
        overflow: auto;
        position: absolute;
        flex-direction:column;
        width: 100%;
        text-align: center;
        top: 70px;
        right: 0;
        background-color: #81abb1; 
        box-shadow: 0px 3px 6px #7ebac1;
    }

    .navList.open > .navItem {
        display:block;
        padding: 10px 0;
        opacity: 1;
    }
    .navList.open .navItem a {
        color:#772125;
    }
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-areas: "itgirl" "text";
    }
    .itgirl{
        justify-content: center;
        align-items: center;
    }
    .aboutMe{
        justify-content: center;
        align-items: center;
    }
    .experienceGrid{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 480px){
    .title{
        transition: .5s;
        margin-top: 50px;
        color: rgb(92, 8, 95);
        text-decoration: none;
    }
    .rights{
        font-size: 11px;
        transition: .4;
    }

}

@media screen and (max-width: 360px){

    .about{
        width: 250px;
        margin: 0 auto;
        color:#4A151B;
        transition: .5s;
    }

    .connect > li >a {
        color: #B92D2B;
        text-decoration: underline;
    }

    .rights{
        font-size: 10px;
        color: black;
        transition: .4;
    }
}